<section class="col-sm-6">
  <div class="form-group">
      {{textarea value=json
                 class="form-control code-input"
                 id="object"
                 rows="10"
                 placeholder=objectPlaceholder}}
  </div>


  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Pointer</span>
      {{input value=pointer
              class="form-control code-input"
              id="pointer"
              placeholder=pointerPlaceholder}}
      <span class="input-group-btn">
        <button class="btn btn-default" {{action "formatJson"}}>
          <span class="glyphicon glyphicon-align-left"></span>
          Format JSON
        </button>
      </span>
    </div>
  </div>
</section>

<section class="output col-sm-6">
  <pre><code {{bind-attr class=":json-string hasPointerMatch"}}>{{#if json}}{{json-stringifier-highlighter stringifiedObject}}{{else}}Please enter a JSON object.{{/if}}</code></pre>
</section>
