<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet">
    <div class="mdl-card mdl-shadow--2dp input">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">
          {{#link-to "linter"
                     (query-params json="" pointer="")
                     class="mdl-layout-title"}}
            JSON Pointer Tester
          {{/link-to}}
        </h1>
      </div>

      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label object">
          <label for="object" class="mdl-textfield__label">JSON object</label>
          {{textarea value=json
                     class="mdl-textfield__input code-input"
                     id="object"
                     rows="10"}}
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pointer">
          <label for="pointer" class="mdl-textfield__label">Pointer</label>
          {{input value=pointer
                  class="mdl-textfield__input code-input"
                  id="pointer"}}
        </div>
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" {{action "formatJson"}} {{bindAttr disabled="disableFormatJsonButton"}}>
          Format JSON
        </button>

        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" {{action "randomizeData"}}>
          Randomize data
        </button>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-tablet">
    <pre><code {{bind-attr class=":json-string hasPointerMatch"}}>{{#if json}}{{json-stringifier-highlighter stringifiedObject}}{{else}}Please enter a JSON object.{{/if}}</code></pre>
  </div>
</section>
