<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet left-nav">
    <div class="mdl-grid title">
      <div class="mdl-card mdl-shadow--2dp full-width">
        <div class="mdl-card__title">
          <h1 class="mdl-card__title-text">
            {{#link-to "linter"
                       (query-params json="" pointer="")}}
              JSON Pointer Tester
            {{/link-to}}
          </h1>
        </div>
        <div class="mdl-card__media links">
          <nav class="mdl-navigation">
            <div class="mdl-layout-spacer"></div>
            <a href="https://github.com/jessepinho/jsonpointer.com"
               target="_blank">
              <img src="assets/github.svg" alt="GitHub logo" />
            </a>

            <a href="http://www.jessepinho.com"
               target="_blank">
              <img src="assets/jesse-pinho.svg" alt="JessePinho.com" />
            </a>
          </nav>
        </div>
      </div>
    </div>

    <div class="mdl-grid input">
      <div class="mdl-card mdl-shadow--2dp full-width">
        <div class="mdl-card__supporting-text">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
            <label for="object" class="mdl-textfield__label">JSON object</label>
            {{textarea value=json
                       class="mdl-textfield__input code-input"
                       id="object"
                       rows="10"}}
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
            <label for="pointer" class="mdl-textfield__label">Pointer</label>
            {{input value=pointer
                    class="mdl-textfield__input code-input"
                    id="pointer"}}
          </div>
        </div>
        <div class="mdl-card__actions">
          <nav class="mdl-navigation">
            <div class="mdl-layout-spacer"></div>
            <button
              class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
              alt="Format JSON"
              disabled={{disableFormatJsonButton}}
              {{action "formatJson"}}>
              <i class="material-icons">format_align_left</i>
            </button>

            <button
              class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
              alt="Randomize data"
              {{action "randomizeData"}}>
              <i class="material-icons">shuffle</i>
            </button>

            <button
              class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
              alt="Clear JSON object and pointer"
              disabled={{disableClearButton}}
              {{action "clearJsonAndPointer"}}>
              <i class="material-icons">clear</i>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-tablet">
    <pre><code {{bind-attr class=":json-string"}}>{{#if json}}{{json-stringifier-highlighter stringifiedObject}}{{else}}Please enter a JSON object and pointer.{{/if}}</code></pre>
  </div>
</section>
